@page
@model IBT.Pages.filesModel
@{
}
<div id="page-content">
    <div class="row justify-content-center">
        <!-- BEGIN BREADCRUMB -->
        <div class="col-md-12">
            <div class="breadcrumb-box border shadow">
                <ul class="breadcrumb">
                    <li><a href="blank.html">Files</a></li>
                    <!--<li><a href="#">page</a></li>
                    <li class="active">root2</li>-->
                </ul>
                <div class="breadcrumb-right">
                    <span class="dateToday">
                        Fri, 26 Aug 2022
                    </span>

                    <i class="icon-calendar"></i>
                </div><!-- /.breadcrumb-right -->
            </div><!-- /.breadcrumb-box -->
        </div><!-- /.col-md-12 -->
        <!-- END BREADCRUMB -->



        <div class="col-lg-6 col-12">
            <div class="portlet box border shadow">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h3 class="title">
                            <i class="icon-frane"></i>
                            Files
                        </h3>
                    </div><!-- /.portlet-title -->
                    <div class="buttons-box">




                    </div><!-- /.buttons-box -->
                </div><!-- /.portlet-heading -->
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>

                                    <th>File</th>
                                   
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>IBT_UI</td>
                                    <td>
                                        <a href="/files/IBT_UI.pdf" download target="_blank" class='btn btn-sm btn-secondary pe-3  btn-curve EditT'><i class='fa fa-download me-1  pe-1'></i>Download</a>
                                    </td>

                                </tr>
                                <tr>

                                    <td>IBT_Wireframe</td>
                                    <td>
                                        <a href="/files/IBT_Wireframe.pdf" download target="_blank" class='btn btn-sm btn-secondary pe-3  btn-curve EditT'><i class='fa fa-download me-1  pe-1'></i>Download</a>
                                    </td>

                                </tr>


                                <tr>
                                    <td>IBT_UI_Customer</td>
                                    <td>
                                        <a href="/files/IBT_UI_Customer.pdf" download target="_blank" class='btn btn-sm btn-secondary pe-3  btn-curve EditT'><i class='fa fa-download me-1  pe-1'></i>Download</a>
                                    </td>

                                </tr>

                                <tr>

                                    <td>IBT_Wireframe_Customer</td>
                                    <td>
                                        <a href="/files/IBT_Wireframe_Customer.pdf" download target="_blank" class='btn btn-sm btn-secondary pe-3  btn-curve EditT'><i class='fa fa-download me-1  pe-1'></i>Download</a>
                                    </td>

                                </tr>
                                <tr>

                                    <td>Video_IBT_Customer_v1</td>
                                    <td>
                                        <a href="/files/IBT_Customer_v1.mp4" download target="_blank" class='btn btn-sm btn-secondary pe-3  btn-curve EditT'><i class='fa fa-download me-1  pe-1'></i>Download</a>
                                    </td>

                                </tr>



                                <tr>

                                    <td>Video_IBT_Dashboard_OnlineData_v1</td>
                                    <td>
                                        <a href="/files/IBT_Dashboard_OnlineData_v1.mp4" download target="_blank" class='btn btn-sm btn-secondary pe-3  btn-curve EditT'><i class='fa fa-download me-1  pe-1'></i>Download</a>
                                    </td>

                                </tr>

                                <tr>

                                    <td>Video_IBT_Staff_v1</td>
                                    <td>
                                        <a href="/files/IBT_Staff_v1.mp4" download target="_blank" class='btn btn-sm btn-secondary pe-3  btn-curve EditT'><i class='fa fa-download me-1  pe-1'></i>Download</a>
                                    </td>

                                </tr>

                                @*<tr>
            <td>Demo Video</td>
            <td>
                <a href="/files/demo.mp4" download target="_blank" class='btn btn-sm btn-secondary pe-3  btn-curve EditT'><i class='fa fa-download me-1  pe-1'></i>Download</a>
            </td>

        </tr>*@
                            </tbody>
                        </table>


                    </div><!-- /.table-responsive -->

                    <hr>
                 
                </div><!-- /.portlet-body -->
            </div><!-- /.portlet -->
        </div>

    </div><!-- /.row -->
</div><!-- /#page-content -->
@section Scripts
{
    <script>





       
      

    </script>
}