{% extends 'Pages/Shared/_Layout.html' %}
{% block PageContent %}
    {% load static %}

    <div id="page-content">

        <div class="row">
            <!-- BEGIN BREADCRUMB -->
            <div class="col-md-12">
                <div class="breadcrumb-box border shadow">
                    <ul class="breadcrumb">
                        <li><a id="ttlPage" href="#">Dashboard</a></li>
                    </ul>
                    <div class="breadcrumb-right">

                    <span class="dateToday">
                        Fri, 26 Aug 2022
                    </span>
                        <i class="icon-calendar"></i>
                    </div><!-- /.breadcrumb-right -->
                </div><!-- /.breadcrumb-box -->
            </div><!-- /.col-md-12 -->
            <!-- END BREADCRUMB -->
        </div>


        <div class="row justify-content-center">


            <div class="col-md-3 col-12">

                <div class="form-group">
                    <label for="cmbPetOwnerName">Pet Owner</label>
                    <div class="input-group">

                        <select class="form-control select2 curve" id="cmbPetOwnerName" style="width:100% !important">

                            {% for petowner in petowners %}
                                <option value={{ petowner.user_id }}>{{ petowner.user.get_full_name }}</option>
                            {% endfor %}

                        </select>

                    </div><!-- /.input-group -->
                </div><!-- /.form-group -->
            </div>

            <div class="col-md-3 col-12">

                <div class="form-group">
                    <label for="cmbPetName">Pet</label>
                    <div class="input-group"><select class="form-control select2 curve" id="cmbPetName"
                                                     style="width:100% !important">
                        {% for pet in pets %}
                            <option value={{ pet.id }} data-owner-id={{ pet.petowner.user_id }}>{{ pet.name }}</option>
                        {% endfor %}
                    </select>

                    </div><!-- /.input-group -->
                </div><!-- /.form-group -->
            </div>

            <div class="col-md-4 col-12">
                <button id="btnGo" type="button" class="btn btn-success btn-curve mt-md-4" onclick="petInfoTable()">
                    <i class="icon-check "></i>
                    GO
                </button>
            </div>

        </div><!-- /.modal -->

        <div id="infoRow" class="row ">
            <div class="col">
                <div class="portlet box border shadow">
                    <div class="portlet-body">
                        <div class="table-responsive">
                            <table id="petInfoTable" class="table table-striped" width="100%" height="180"
                                   cellspacing="0" style="height: 40%;">
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <style>
        .error, .has-error + .help-block, .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
            color: #f55145;
        }


        table {
            width: 100%;
        }

        thead, tbody, tr, td, th {
            display: block;
        }

        tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

        thead th {
            height: 30px;
            /*text-align: left;*/
        }

        tbody {
            height: 250px;
            overflow-y: auto;
            font-size: 13px;
        }

        thead {
            /* fallback */
        }


        tbody td, thead th {
            width: 33.33%;
            float: left;
            padding-right: 4px !important;
            padding-left: 1px !important;
        }

        thead th {
            margin-bottom: 5px;
            border-style: none
        }

        .preview-textfield {
            position: absolute;
            /*top: 65px;*/
            /*top: 95px;*/
            left: 0;
            right: 0;
            text-align: center;
            font-size: 2em;
            font-weight: bold;
            color: black;
            font-family: 'Amaranth', sans-serif;
        }

        .portlet {
            background: #e9e9e9 !important;
            padding-right: 2px !important;
            padding-left: 2px !important;
        }
    </style>


    <link href="{% static 'assets/plugins/data-table/css/jquery.dataTables.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/data-table/css/buttons.dataTables.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/select2/dist/css/select2.min.css' %}" rel="stylesheet">

    <script src="{% static 'assets/plugins/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'assets/plugins/select2/dist/js/i18n/fa.js' %}"></script>
    <script src="{% static 'assets/js/pages/select2.js' %}"></script>
    <script src="{% static 'assets/plugins/data-table/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/plugins/data-table/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-validation/dist/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/js/pages/validation.js' %}"></script>
    <script src="{% static 'assets/js/Chart.min.js' %}"></script>
    {#    <script src="https://bernii.github.io/gauge.js/dist/gauge.js"></script>#}
    {#    <script src="{% static 'assets/js/gauge.js' %}"></script>#}
    <script src="{% static 'assets/js/myDashboard.js' %}"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
            integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
            crossorigin=""></script>


    <script>
        document.getElementById("cmbPetOwnerName").addEventListener("change", function () {
            var selectedOwnerId = $(this).val();
            var firstPet = null;

            $('#cmbPetName option').each(function () {
                var ownerId = $(this).data('owner-id');
                if (ownerId == selectedOwnerId) {
                    $(this).show();
                    if (!firstPet) {
                        firstPet = $(this);
                    }
                } else {
                    $(this).hide();
                }
            });
            if (firstPet) {
                $('#cmbPetName').prepend(firstPet);
            }
        });

        function petInfoTable() {
            var petId = $("#cmbPetName").val();
            $.ajax({
                url: '/dashboard/info/',
                data: {
                    'pet_id': petId
                },
                dataType: 'json',
                success: function (data) {
                    if (data.success) {
                        console.log(data.pet_info);
                        // hide table if data is empty
                        if (data.pet_info.length == 0) {
                            console.log('empty');
                            $("#infoRow").hide();
                        }
                        else {
                            $("#infoRow").show();
                        }
                        var table = $("#petInfoTable");
                        table.empty();  // Clear the table
                        var headers = $("<thead></thead>");
                        headers.append("<tr><th>Temperature</th><th>Date</th></tr>")
                        table.append(headers);
                        var body = $("<tbody></tbody>");
                        table.append(body);

                        $.each(data.pet_info, function (index, element) {
                            var row = $("<tr></tr>");
                            row.append($("<td></td>").text(element.temperature));
                            row.append($("<td></td>").text(element.date));
                            table.append(row);
                        });
                    } else {
                        alert("Error retrieving pet information.");
                    }
                }
            });
        }

        window.onload = function () {
            petInfoTable();
        };

    </script>

{% endblock PageContent %}