{% extends 'Pages/Shared/_Layout.html' %}
{% block PageContent %}
    {% load static %}
    {% load crispy_forms_tags %}

    <div id="page-content">
        <div class="row">
            <!-- BEGIN BREADCRUMB -->
            <div class="col-md-12">
                <div class="breadcrumb-box border shadow">
                    <ul class="breadcrumb">
                        <li><a id="ttlPage" href="#">Edit Pet</a></li>
                    </ul>
                    <div class="breadcrumb-right">

                    <span class="dateToday">
                        Fri, 26 Aug 2022
                    </span>
                        <i class="icon-calendar"></i>
                    </div><!-- /.breadcrumb-right -->
                </div><!-- /.breadcrumb-box -->
            </div><!-- /.col-md-12 -->
            <!-- END BREADCRUMB -->
        </div>


        <div id="recordDetail" class="row justify-content-center">


            <div class="col-lg-7 col-12">
                <div class="portlet box border shadow">

                    <div class="portlet-body">


                        <div class="row">

                            <div class="col-12">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab23">
                                        <fieldset>
                                            <input type="hidden" id="hfId"/>
                                            <form id="form1" method="POST" role="form">
                                                {% csrf_token %}
                                                {{ form|crispy }}

                                                <div class="form-actions text-center mt-3">
                                                    <button id="btnSave1" type="submit"
                                                            class="btn btn-success btn-curve">
                                                        <i class="icon-check"></i>
                                                        Confrim
                                                    </button>
                                                </div>


                                            </form>
                                        </fieldset>
                                    </div><!-- /.tab-pane -->


                                </div><!-- /.tab-content -->
                            </div><!-- /.col-9 -->
                        </div><!-- /.row -->


                    </div><!-- /.portlet-body -->
                </div><!-- /.portlet -->
            </div><!-- /.col-lg-8 -->

        </div>


    </div><!-- /#page-content -->

    <style>
        .error, .has-error + .help-block, .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
            color: #f55145;

        }
    </style>

    <link href="{% static 'assets/plugins/data-table/css/jquery.dataTables.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/data-table/css/buttons.dataTables.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/select2/dist/css/select2.min.css' %}" rel="stylesheet">

{% endblock PageContent %}