{% extends 'Pages/Shared/_Layout.html' %}
{% block PageContent %}
    <div id="page-content">
        <div class="row">
            <!-- BEGIN BREADCRUMB -->
            <div class="col-md-12">
                <div class="breadcrumb-box border shadow">
                    <ul class="breadcrumb">
                        <li><a id="ttlPage" href="#">Pet owners</a></li>
                    </ul>
                    <div class="breadcrumb-right">

                    <span class="dateToday">
                        Fri, 26 Aug 2022
                    </span>
                        <i class="icon-calendar"></i>
                    </div><!-- /.breadcrumb-right -->
                </div><!-- /.breadcrumb-box -->
            </div><!-- /.col-md-12 -->
            <!-- END BREADCRUMB -->
        </div>

        <div id="gridUser" class="row justify-content-center">


            <div class=" col-lg-10  col-12">
                <div class="portlet box border shadow">
                    <div class="portlet-body">
                        <div class="col-md-12">
                            <div class="form-group">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group ">
                                                <label for="id_login">{{ form.first_name.label_tag }}</label>
                                                <div class="input-group round">
                                            <span class="input-group-addon">
                                                <i class="icon-user"></i>
                                            </span>
                                                    {{ form.first_name }}
                                                </div><!-- /.input-group -->
                                            </div><!-- /.form-group -->
                                        </div>
                                        <div class="col">
                                            <div class="form-group ">
                                                <label for="id_login">{{ form.last_name.label_tag }}</label>
                                                <div class="input-group round">
                                            <span class="input-group-addon">
                                                <i class="icon-user"></i>
                                            </span>
                                                    {{ form.last_name }}
                                                </div><!-- /.input-group -->
                                            </div><!-- /.form-group -->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group ">
                                                <label for="id_login">{{ form.phone.label_tag }}</label>
                                                <div class="input-group round">
                                            <span class="input-group-addon">
                                                <i class="icon-phone"></i>
                                            </span>
                                                    {{ form.phone }}
                                                </div><!-- /.input-group -->
                                            </div><!-- /.form-group -->
                                        </div>
                                        <div class="col">
                                            <div class="form-group ">
                                                <label for="id_login">{{ form.address.label_tag }}</label>
                                                <div class="input-group round">
                                            <span class="input-group-addon">
                                                <i class="icon-location-pin"></i>
                                            </span>
                                                    {{ form.address }}
                                                </div><!-- /.input-group -->
                                            </div><!-- /.form-group -->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="id_login">{{ form.username.label_tag }}</label>
                                                <div class="input-group round">
                                            <span class="input-group-addon">
                                                <i class="icon-user"></i>
                                            </span>
                                                    {{ form.username }}
                                                </div><!-- /.input-group -->
                                            </div><!-- /.form-group -->
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="id_password">{{ form.password.label_tag }}</label>
                                                <div class="input-group round">
                                            <span class="input-group-addon">
                                                <i class="icon-lock"></i>
                                            </span>
                                                    {{ form.password }}
                                                </div><!-- /.input-group -->
                                            </div><!-- /.form-group -->
                                        </div>
                                    </div>
                                    <button id="btnLogin" class="btn btn-info btn-round" type="submit">
                                        Submit
                                    </button>
                                </form>
                            </div>
                        </div>

                    </div>

                </div>
            </div>


        </div>

    </div><!-- /#page-content -->

    <style>
        .error, .has-error + .help-block, .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
            color: #f55145;

        }
    </style>
{% endblock PageContent %}
